body{background:#eee}
*{position:absolute;margin:0;padding:0}
input[type=submit]{display:block;width:100px;border:0;line-height:35px;height:35px;color:#fff;background:#9370db;font-size:18px;
    left: 700px;
    top: 400px;
    cursor:pointer}